<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= i18n('settings') %></h3>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <label><%= i18n('name') %></label>
      <input class="form-control" name="name" />
    </div>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <label><%= i18n('email') %></label>
      <input type="email" class="form-control" name="email" required/>
    </div>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label><%= i18n('hidden-webbapp') %></label>
      <input class="form-control" type="text" name="hidden-text" />
    </div>
  </div>

</div>
